.form {
    display: flex;
    flex-direction: row;
    width: fit-content;
    /* max-width: 320px; */
    height: 100px;
    align-items: center;
    /* background-color: black; */
}
.add-parent-cont {
    width: 100%;
    height: 200px;
    /* background-color: red; */
    /* height: 500px; */
    /* padding: 0; */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}
h6 {
    margin: 20px;
}
input, select {
    /* min-width: 60px; */
    /* max-width: 200px; */
    width: 200px;
    padding: 10px;
    font-size: 14px;
    margin: 10px 0;
}

option {
    border: 1px solid white;
    height: 100px !important;
}