.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid green;
  height: 100vh;
}
div {
  width: 100vw;
  height: 100vh;
  /* background-color: black; */
}
.poppinsr {
  font-family: "PoppinsRegular";
}
