body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: "PoppinsRegular";
  src: local("PoppingsRegular"), url('./assets/fonts/Poppins-Regular.ttf') format("truetype");
}
@font-face {
  font-family: PoppinsBold;
  src: local PoppinsRegular, url('./assets/fonts/Poppins-Bold.ttf');
}

@font-face {
  font-family: PoppinsMedium;
  src: local PoppinsMedium url('./assets/fonts/Poppins-Medium.ttf');
}